# Estudo Titanic

In [2]:
#vamos importar a biblioteca pandas e 
#o scikit-learn responsavel para criar o modelo 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [3]:
arquivo_treino = ('......./train.csv')
arquivo_teste  = ('......./test.csv')

In [4]:
#Agora vamos abrir os aquivos de treino e de teste
train = pd.read_csv(arquivo_treino)
test = pd.read_csv(arquivo_teste)

In [5]:
#imprimindo a variavel treino
print(train.head(4))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S

In [6]:
#imprimindo a variavel teste
print(test.head(4))

   PassengerId  Pclass                              Name     Sex   Age  SibSp  \
0          892       3                  Kelly, Mr. James    male  34.5      0
1          893       3  Wilkes, Mrs. James (Ellen Needs)  female  47.0      1
2          894       2         Myles, Mr. Thomas Francis    male  62.0      0
3          895       3                  Wirz, Mr. Albert    male  27.0      0

   Parch  Ticket    Fare Cabin Embarked
0      0  330911  7.8292   NaN        Q
1      0  363272  7.0000   NaN        S
2      0  240276  9.6875   NaN        Q
3      0  315154  8.6625   NaN        S

In [7]:
#imprimindo o total de linhas e colunas da variavel treino
print(train.shape)

(891, 12)

In [8]:
#imprimindo o tatal de linha e colunas da variavel teste
print(test.shape)

(418, 11)

In [9]:
#exemplo: train = train.drop(['Name', 'Ticket', 'Cabin'], axis=1)
train.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [10]:
new_data_train = pd.get_dummies(train)
new_data_test = pd.get_dummies(test)

In [11]:
print(new_data_train.head(4))

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  \
0            1         0       3  22.0      1      0   7.2500           0
1            2         1       1  38.0      1      0  71.2833           1
2            3         1       3  26.0      0      0   7.9250           1
3            4         1       1  35.0      1      0  53.1000           1

   Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         1           0           0           1
1         0           1           0           0
2         0           0           0           1
3         0           0           0           1

In [12]:
print(new_data_test.head(4))

   PassengerId  Pclass   Age  SibSp  Parch    Fare  Sex_female  Sex_male  \
0          892       3  34.5      0      0  7.8292           0         1
1          893       3  47.0      1      0  7.0000           1         0
2          894       2  62.0      0      0  9.6875           0         1
3          895       3  27.0      0      0  8.6625           0         1

   Embarked_C  Embarked_Q  Embarked_S
0           0           1           0
1           0           0           1
2           0           1           0
3           0           0           1

In [13]:
#Descobrimos que o dataset possui 177 valores inválidos na coluna Age
new_data_train.isnull().sum().sort_values(ascending=False).head(10)

Age           177
Embarked_S      0
Embarked_Q      0
Embarked_C      0
Sex_male        0
Sex_female      0
Fare            0
Parch           0
SibSp           0
Pclass          0
dtype: int64

In [14]:
# encontramos 86 numeros invalidos na coluna Age
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Age           86
Fare           1
Embarked_S     0
Embarked_Q     0
Embarked_C     0
Sex_male       0
Sex_female     0
Parch          0
SibSp          0
Pclass         0
dtype: int64

In [15]:
#preenchendo valores nulos ou valores invalidos
new_data_train['Age'].fillna(new_data_train['Age'].mean(), inplace=True)
new_data_test['Age'].fillna(new_data_test['Age'].mean(), inplace=True)

In [16]:
#verificando novamente se deu certo a função de preenchimento
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Fare          1
Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [17]:
new_data_test['Fare'].fillna(new_data_train['Age'].mean(), inplace=True)

In [18]:
new_data_test.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [19]:
#verificando novamente se deu certo a função de preenchimento
new_data_train.isnull().sum().sort_values(ascending=False).head(10)

Embarked_S    0
Embarked_Q    0
Embarked_C    0
Sex_male      0
Sex_female    0
Fare          0
Parch         0
SibSp         0
Age           0
Pclass        0
dtype: int64

In [20]:
#Criando a arvore de decisão
#separando features e target para criação do modelo
x = new_data_train.drop('Survived', axis=1)
y = new_data_train['Survived']

In [21]:
tree = DecisionTreeClassifier(max_depth=3, random_state=0)
tree.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [22]:
tree.score(x, y)

0.8271604938271605